{% extends "userportal/nav.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<style>
    .bb {
        background: linear-gradient(25deg, rgb(52, 71, 88), rgba(169, 247, 240, 0.952));
        -webkit-background-clip: text;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
    body{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
    }
</style>
<body class="">
    
    <div class="d-flex container p-3 pt-5  rounded bg-light" style="margin-top: 40px;">
        <div>
            <h1 class="bb" style="font-weight: bold; font-size: 60px;">Integrated Smart Education Management System</h1>
            <p style="font-size: larger;">Leverage the <b>Smart education management</b> software to manage fees, admissions, attendance, and examination much more effortlessly. Switch to a centralized system with a user-friendly tuition management app that helps save your time through seamless automation. Eliminate the time completing repetitive tasks and invest your time in core activities.</p>
        </div>
        <!-- <div>
            <img src="{% static 'images/c-1.webp' %}" alt="">
        </div> -->
    </div><br><br>
    <h1 class="bb" style="font-weight: bold; font-size: 50px; text-align: center;">Main Features</h1>
    <p style="font-size: larger; text-align: center;">Features of our comprehensive Smart education management</p>
    <div class="container px-5 py-4 d-flex justify-content-between">
        <div>
            <img src="{% static 'images/s-1.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-2.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-3.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-4.PNG' %}" alt="">
        </div>
    </div><br>
    <div class="container px-5 d-flex justify-content-between">
        <div>
            <img src="{% static 'images/s-5.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-6.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-7.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-8.PNG' %}" alt="">
        </div>
    </div><br>
    <div class="container px-5 d-flex pt-4 justify-content-between">
        <div>
            <img src="{% static 'images/s-9.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-10.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-11.PNG' %}" alt="">
        </div>
        <div>
            <img src="{% static 'images/s-12.PNG' %}" alt="">
        </div>
    </div><br><br>
    <h1 class="bb" style="font-weight: bold; font-size: 50px; text-align: center;">What are the advantages of Integrated Smart Education Management</h1>
    <div class="container mt-5">
        <div class="row">
            <!-- Card 1: Saves Time -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-light">
                        <h5 class="card-title" style="font-size: 30px; color: rgb(82, 199, 183);">Saves Time</h5>
                        <p class="card-text" style="font-size: larger;">The smart education management app helps teachers save a lot of time by automating administrative tasks such as attendance management and parent-teacher interactions. This automation allows tasks to be completed daily with minimal effort.</p>
                    </div>
                </div>
            </div>         
            <!-- Card 3: Bridges the Communication Gap -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-light">
                        <h5 class="card-title" style="font-size: 30px; color: rgb(82, 199, 183);">Stores the Student Data</h5>
                        <p class="card-text" style="font-size: larger;"> Smart Education management software keeps track of all student-related information such as attendance, exam results, and notes from instructors, maintaining this data throughout the student’s journey in the institution.</p>&emsp;
                                                    
                </div>
            </div>
            
        </div>
    
        <div class="row mt-4">
            <!-- Card 4: Stores the Student Data for Long Term -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body bg-light">
                        <h5 class="card-title" style="font-size: 30px; color: rgb(82, 199, 183);">Bridges the Communication Gap</h5>
                        <p class="card-text" style="font-size: larger;">smart education management apps make communication easier by sending messages, helping parents and staff stay connected effectively.</p>
                    </div>
                </div>
            </div>            
            
            <!-- Card 5: Allows Easy Timetable Management -->
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-body bg-light">
                        <h5 class="card-title" style="font-size: 30px; color: rgb(82, 199, 183);">Allows Easy Timetable Management</h5>
                        <p class="card-text" style="font-size: larger;">School management software simplifies the process of creating and managing timetables with a dedicated timetable module, reducing the complexity.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br><br>
<!-- <table class="table table-bordered mt-5 container p-5">
    <thead class="thead-dark">
        
        <tr >
            <th class="p-3" style="font-size: 30px; color: rgb(62, 160, 160);">Features</th>
            <th class="p-3" style="font-size: 30px; color: rgb(62, 160, 160);"">Basic</th>
            <th class="p-3" style="font-size: 30px; color: rgb(62, 160, 160);">Free</th>
            <th class="p-3" style="font-size: 30px; color: rgb(62, 160, 160);">Standard</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td class="bg-light p-3">Price</td>
            <td class="bg-light ">Available on the app</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px; "></i></td>
        </tr>
        <tr>
            <td class="p-3">Teachers</td>
            <td>2 (Maximum)</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td class="bg-light p-3">Students</td>
            <td class="bg-light">20 (Maximum)</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light">Unlimited</td>
        </tr>
        <tr>
            <td class="p-3">Standards</td>
            <td>2 (Maximum)</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td class="bg-light p-3">Division</td>
            <td class="bg-light">Unlimited</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light">Unlimited</td>
        </tr>
        <tr>
            <td class="p-3">Education Year</td>
            <td>Unlimited</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td class="bg-light p-3">Homework</td>
            <td class="bg-light">Unlimited</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light">Unlimited</td>
        </tr>
        <tr>
            <td class="p-3">Exams (per month)</td>
            <td>2 (Maximum)</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td>Unlimited</td>
        </tr>
        <tr>
            <td class="bg-light p-3">Reports</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
        </tr>
        <tr>
            <td class="p-3">Add Bulk Students</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px; "></i></td>
        </tr>
        <tr>
            <td class="bg-light p-3">Attendance (Student & Teacher)</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
        </tr>
        <tr>
            <td class="p-3">Admission Enquiry</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px; "></i></td>
        </tr>
        <tr>
            <td  class="bg-light p-3">Move Student Next Year</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
        </tr>
        <tr>
            <td class="p-3">Timetable</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
        </tr>
        <tr>
            <td class="bg-light p-3">Periodic</td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td class="bg-light"><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px; "></i></td>
        </tr>
        <tr>
            <td class="p-3">General Notification</td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
            <td><i class="fa-solid fa-circle-check" style="color: #56c8c6; font-size: 30px;"></i></td>
        </tr>
    </tbody>
</table>

     -->
    <br><br>
    {% endblock %}    
</body>
</html>